<!DOCTYPE html>
<html lang="ja">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "style.css" %}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="button_list">
            <table class="base_table">
                <tr>
                    <td><button class="base_button" onclick="location.href='{% url 'payroll_app:home' %}'">ホーム画面</button></td>
                    <td><button class="base_button" onclick="location.href='{% url 'payroll_app:work_report' %}'">勤務報告画面</button></td>
                    <td><button class="base_button" onclick="location.href='{% url 'payroll_app:payroll' %}'">給与計算画面</button></td>
                    <td><button class="base_button" onclick="location.href='{% url 'payroll_app:shift' %}'">シフト画面</button></td>
                    <td><button class="base_button" onclick="location.href='{% url 'payroll_app:register_teacher' %}'">講師登録画面</button></td>
                    <td><button class="base_button" onclick="location.href='{% url 'payroll_app:register_class' %}'">授業登録画面</button></td>
                    <td><button class="base_button" onclick="location.href='{% url 'payroll_app:contact' %}'">連絡発信画面</button></td>
                    <td><button class="base_button" onclick="location.href='{% url 'payroll_app:csv' %}'">csv出力画面</button></td>
                </tr>
            </table>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>