<!DOCTYPE html>
<html lang="ja">
    <head>
        {% extends "base.html" %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}{{ block.super }}給与計算{% endblock %}
    </head>
    <body>
        {% block content %}
            <div class="home">
                <h1>給与表示画面</h1>
                {% if salary %}
                    <h1>今月の給料は{{ salary }}円です。</h1>
                    <h1>お疲れ様でした。</h1>
                {% endif %}
            </div>
        {% endblock %}
    </body>
</html>